/* Your stylesheet goes here */
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	background-color: #E9EAEE;
}

.headings {
	font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
	color: #BC6026;
}

nav {
	position: fixed;
	background-color: #181C22;
	color: white;
	font-size: 16px;
	width: 100%;
	padding-top: 0.5em;
	z-index: 9999;
}

#navsvg {
	margin-left: 15px;	
	height: 1em;
}

ul {
	padding: 0;
}

li {
	display: inline;
	padding: 0.5em;
}

nav a {
	font-variant: small-caps;
	text-decoration: none;
	fill: white;
	color: white;
}

nav a:hover, nav a:focus {
	text-decoration: none;
	color: #D87E28;
	fill: #D87E28;
}

#header {
	padding-top: 3em;
}

#header p {
	display: none;
}

#headline {
	font-style: italic;
}

#headlinesvg {
	display: none;
}

#info {
	background-color: #dbdce3;
	fill: #D87E28;
}

#info svg {
	height: 2em;
}

#info div {
	padding: 20px;
}

#info img {
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

#info p, #info img, #info a{
	padding: 20px;
}

#menu .row{
	text-align: left;
}

#menu dd {
	font-style: italic;
	padding-left: 1em;
}

#story img {
	float: right;
	max-height: 300px;
	margin-left: 1em;
	border-radius: 5px;
	background-color: #dbdce3;
}

footer {
	border-top: 3px #D87E28 solid;
	background-color: #afb3c2;
	font-size: 12px;
	padding-top: 1em;
	clear: both;
}

footer p {
	padding-left: 20px;
	padding-right: 20px;
}

#soon {
	padding-top: 15px;
}

#navCartLink {
    float: right;
}


#orderRow {
    padding-bottom: 1em;
}

#coffeeType a{
    color: #A52A2A;
}

#bean-img, #grower-img {
    max-height: 150px;
}

.description, #grower-description, #bean-description, #bean-price {
    font-style: bold;
    font-family: Raleway;
}

@media screen and (min-width: 768px) {
	body {
		font-size: 20px;
	}

	h2 {
		text-align: center;
		padding-bottom: 1em;
	}

	nav {
		background-color: rgba(24, 28, 34, 0.8);
	}

	li {
		padding-left: 1em;
		padding-right: 1em;
	}

	#header {
		background-image: url('../img/background-sm.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		text-align: right;
		min-height: 550px;
	}

	#header p {
		display: inline;
	}

	#headline {
		font-size: 1.25em;
		text-align: center;
		margin-top: 3em;
		margin-bottom: 3em;
	}

	#headlineicon {
		display: inline;
		height: 1.5em;
		margin-bottom: 1em;
		fill: #D87E28;
	}

	#story img {
		max-height: 400px;
	}

	#iconattribution {
		text-align: right;
	}
    
    #bean-img, #grower-img {
    max-height: 350px;
    }
}

@media screen and (min-width: 992px) {
	#header {
		background-image: url('../img/background-md.jpg');
	}

	#header h1 {
		font-size: 4em;
	}
    
    #bean-img, #grower-img {
    max-height: 500px;
    }
}

@media screen and (min-width: 1200px) {
	#header {
		background-image: url('../img/background-lg.jpg');
	}
}